<nav>
    <div class="container">
        <div class="row">
            <div class="col">
                <button type="button" class="btn btn-primary" routerLink="/home">Home</button>
            </div>
            <div class="col">
                <button type="button" class="btn btn-primary" routerLink="/guard">Guard</button>
            </div>
            <div class="col">
                <button type="button" class="btn btn-primary" routerLink="/about">About Us</button>
            </div>
            <div class="col">
                <button type="button" class="btn btn-primary" routerLink="/contact">Contact Us</button>
            </div>
            <div class="col">
                <button type="button" class="btn btn-primary" routerLink="/login">Login</button>
            </div>
        </div>
    </div>
</nav>
